.container {
    h1 {
        margin-top: 100px;
        margin-bottom: 30px;
    }


}

.projectsContainer {
    display: flex;
    flex-direction: column;
    justify-content: Center;
    gap: 30px;
    margin-top: 10px;
    text-align: center;
    /* min-height: 500px; */
}



@media (width >= 800px) {
    .projectsContainer {
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 0 30px;
    }
}
