.container {
    display: flex;
    flex-direction: column;
    justify-content: Center;
    gap: 0px;
    text-align: center;
    height: 100dvh;
    min-height: 500px;

    .heroLogo {
      max-width: 300px;
    }
}

.description {
  text-align: center;
}

.socialLogosSpan {
  display: flex;
  gap: 10px;
  justify-content: center;
  
  img {
      height: 40px;
  }
}


  @media (width >= 800px) {
    .container {
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-evenly;
  
      .heroLogo {
        max-width: 300px; 
        width: 300px;
      }
    }
  }
  
  @media (width >= 1400px) {
    .container {
      .heroLogo {
        max-width: 400px;
        width: 500px;
      }
    }
  }